@model  LibraryASP.NET.Models.Person
@{
	ViewBag.Title = "Recycle Bin";
}
<h2>RecycleBin</h2>
<h3>@Model.FullName</h3>
@Scripts.Render("~/bundles/jquery");
<div id="divTable" class="col-md-4">
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>
					Book Name
				</th>
				<th>
					Date Issue
				</th>
				<th>
					Date Receipt
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Recorders)
			{
				<tr>
					<th>
						@Html.Hidden("GUID", item.HistoryID)
					</th>
					<th><input name="check" type="checkbox" /></th>
					<th>
						@Html.DisplayFor(model => item.BookName)
					</th>
					<th>
						@Html.DisplayFor(model => item.DateIssue)
					</th>
					<th>
						@Html.DisplayFor(model => item.DateReceipt)
					</th>
				</tr>
			}
		</tbody>
	</table>
	@Html.ActionLink("Back to List","Details",new {id=Model.PersonID})|
	@Html.ActionLink("Report", "GetReport",new {id=Model.PersonID })

</div>
<br />
<script>
	var checkboxs = $('input:checkbox').get();
	for (var i = 0; i < checkboxs.length; i++) {
		checkboxs[i].onchange = () => {
			if ($('#TakeAway').get().length === 0) {
				$('#divTable').append('<div><input id="TakeAway" type="submit" value="Take away" onclick="TakeAway()" /></div>')
			}
			if ($('input:checkbox:checked').length === 0) {
				$('#TakeAway').detach();
			}
		}
	}
	function TakeAway() {
		var checkboxs = $('input:checkbox:checked').get();
        for (let i of checkboxs) {
            var datenow = new Date().toLocaleString();
            var guid = $(i.parentElement.parentElement).find("input:hidden").get();
			for (var j = 0; j < guid.length; j++) {
				$.ajax({
				type:"POST",
				url: '@(Url.Action("PostRecycleBin", "Person"))',
				data: "guid=" + guid[j].value + "&date=" + datenow,
                    success: function () {
                     var d = new Date();
                     var day = d.getDate();
                     var month = d.getMonth() + 1;
                     var year = d.getFullYear();
						if (month < 10)
						{ month = "0" + month; }
						if (day < 10)
						{day = "0" + day;}
                        i.parentElement.parentElement.lastElementChild.textContent =  day + "/" + month + "/" + year;
                        i.checked = false;
                      }
            });
			}
			
		}
	}

</script>

